# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [1]:
# 記得先 Import 正確的套件
import numpy as np 
import pandas as pd

In [22]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
print(df)

#計算每個不同種類 animal 的 age 的平均數
print("\n","每個不同種類 animal 的 age 的平均數","\n",df.groupby(['animal']).mean())

#將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
df2=df.sort_values(by=['age']).sort_values(by=['visits'])
print("\n","資料依照 Age 欄位與visits 欄位由大到小排序","\n",df2)

#將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 Fals
df["priority"] = df["priority"].str.replace("yes","True").str.replace("no","False")

print("\n","將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 Fals","\n",df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

 每個不同種類 animal 的 age 的平均數
         age  visits
animal
cat     2.5     2.0
dog     5.0     2.0
snake   2.5     1.5

 資料依照 Age 欄位與visits 欄位由大到小排序
   animal  age  visits priority
a    cat  2.5       1      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
f    cat  2.0       3       no
b    cat  3.0       3      yes
d    dog  NaN       3      yes

 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 Fals
   animal  age  visits priority
a    cat  2.5       1     True
b    cat  3.0       3     True
c  snake  0.5       2    False
d    dog  NaN       3     True
e    dog  5.0       2    False
f    cat  2.0       3    False
g  snake  4.5       1    False
h    cat  NaN       1     True
i    dog  7.0       2    False
j    dog  3.0       1    False

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [42]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.865706  0.467721  0.773133
1  0.018874  0.897511  0.724528
2  0.975346  0.237483  0.413362
3  0.581456  0.608658  0.595710
4  0.236851  0.138018  0.338374

In [60]:
f = lambda x: x - x.mean()
print("\n","將每個數字減去該欄位的平均數","\n",df.apply(f))
print("\n","將每個數字減去該筆資料平均數","\n",df.apply(f,axis=1))

df_mean0=df.mean(axis=0)
print("\n",df_mean0)
print("\n","將每個數字減去該欄位的平均數","\n",df-df_mean0)

df_mean1=df.mean(axis=1)
print("\n",df_mean1)
print("\n","將每個數字減去該筆資料平均數","\n",(df.T-df_mean1).T)

 將每個數字減去該欄位的平均數
           0         1         2
0  0.330059 -0.002157  0.204112
1 -0.516772  0.427632  0.155507
2  0.439700 -0.232395 -0.155659
3  0.045810  0.138780  0.026688
4 -0.298796 -0.331860 -0.230647

 將每個數字減去該筆資料平均數
           0         1         2
0  0.163519 -0.234466  0.070947
1 -0.528097  0.350540  0.177557
2  0.433283 -0.304581 -0.128701
3 -0.013818  0.013383  0.000435
4 -0.000897 -0.099729  0.100627

 0    0.535647
1    0.469878
2    0.569022
dtype: float64

 將每個數字減去該欄位的平均數
           0         1         2
0  0.330059 -0.002157  0.204112
1 -0.516772  0.427632  0.155507
2  0.439700 -0.232395 -0.155659
3  0.045810  0.138780  0.026688
4 -0.298796 -0.331860 -0.230647

 0    0.702187
1    0.546971
2    0.542064
3    0.595275
4    0.237748
dtype: float64

 將每個數字減去該筆資料平均數
           0         1         2
0  0.163519 -0.234466  0.070947
1 -0.528097  0.350540  0.177557
2  0.433283 -0.304581 -0.128701
3 -0.013818  0.013383  0.000435
4 -0.000897 -0.099729  0.100627

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [33]:
df

          0         1         2
0  0.763566  0.846747  0.885887
1  0.782180  0.006052  0.844430
2  0.547830  0.603736  0.106965
3  0.763000  0.586530  0.882552
4  0.311204  0.609405  0.915406

In [69]:
print(df.sum(axis=1))
df.sum(axis=1).argmin()

0    2.106560
1    1.640913
2    1.626191
3    1.785824
4    0.713243
dtype: float64

4

In [70]:
print(df.sum())
df.sum().argmin()

0    2.678233
1    2.349391
2    2.845108
dtype: float64

1