# [作業目標]

1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```


2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

# 作業

### 1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```

In [5]:

# df.loc[ '2013-01-01', 'A'] 
# 時間(index)為2013-01-01，欄位為A的值

# df.loc[ '2013-01-01', ['A', 'B'] ] 
# 時間(index)為2013-01-01，欄位為A與B的值

# df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
# 時間(index)為2013-01-01 ~ 2013-01-02，欄位為A的值 

# df.loc[ '2013-01-01':'2013-01-05', 'A':'C']
# 時間(index)為2013-01-01 ~ 2013-01-05，欄位為A ~ C的值

### 2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

In [8]:
# 記得先 Import 正確的套件
import numpy as np
import pandas as pd

In [38]:
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print(df)
print("\n","the first 3 rows","\n",df[0:3])

print("\n","the odd rows","\n",df.iloc[[1,3,5]])
print("\n","the last 2 columns","\n",df[['col2','col3']])#如果被挑選的欄位有多個的話，可以用兩層的方式做選取：
print("\n","the even rows","\n", df.iloc[[0,2,4]])

       col1      col2      col3
0 -0.923194  0.919595 -0.979136
1 -2.332205  0.003981 -3.817418
2  0.608472  2.421287  0.510930
3  0.568206 -0.441316 -0.528106
4  2.075430  0.641915  0.961196
5  0.877684 -1.571005 -0.816160

 the first 3 rows
        col1      col2      col3
0 -0.923194  0.919595 -0.979136
1 -2.332205  0.003981 -3.817418
2  0.608472  2.421287  0.510930

 the odd rows
        col1      col2      col3
1 -2.332205  0.003981 -3.817418
3  0.568206 -0.441316 -0.528106
5  0.877684 -1.571005 -0.816160

 the last 2 columns
        col2      col3
0  0.919595 -0.979136
1  0.003981 -3.817418
2  2.421287  0.510930
3 -0.441316 -0.528106
4  0.641915  0.961196
5 -1.571005 -0.816160

 the even rows
        col1      col2      col3
0 -0.923194  0.919595 -0.979136
2  0.608472  2.421287  0.510930
4  2.075430  0.641915  0.961196

### 3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

In [46]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
print(df)

print("\n","filtered by first column > 20","\n",df[df[0]<20] )
print("\n","filtered by first column + second column > 50","\n",df[df[0]+df[1]>50] )
print("\n","first column < 30 or second column > 30","\n",df[(df[0]<30)|(df[1] > 30)])
print("\n","filtered by total sum of row > 100","\n",df[np.sum(df, axis = 1) > 100])

     0   1   2   3
0   36  25  38  25
1   29  33  35  26
2   20  28  24  13
3   18  27  36  31
4   35  31  23  18
5   17  13  38  34
6   15  32  15  38
7   35  33  28  36
8   22  17  23  30
9   36  21  32  36
10  37  15  33  37
11  33  23  36  39
12  11  11  29  18
13  23  31  10  15
14  12  24  38  36

 filtered by first column > 20
      0   1   2   3
3   18  27  36  31
5   17  13  38  34
6   15  32  15  38
12  11  11  29  18
14  12  24  38  36

 filtered by first column + second column > 50
      0   1   2   3
0   36  25  38  25
1   29  33  35  26
4   35  31  23  18
7   35  33  28  36
9   36  21  32  36
10  37  15  33  37
11  33  23  36  39
13  23  31  10  15

 first column < 30 or second column > 30
      0   1   2   3
1   29  33  35  26
2   20  28  24  13
3   18  27  36  31
4   35  31  23  18
5   17  13  38  34
6   15  32  15  38
7   35  33  28  36
8   22  17  23  30
12  11  11  29  18
13  23  31  10  15
14  12  24  38  36

 filtered by total sum of row > 100
      0   1   2   3
0   36  25  38  25
1   29  33  35  26
3   18  27  36  31
4   35  31  23  18
5   17  13  38  34
7   35  33  28  36
9   36  21  32  36
10  37  15  33  37
11  33  23  36  39
14  12  24  38  36